{% extends 'base.html.twig' %}
{% block head %}
{% block title %}Hello MapController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
{% endblock %}
{% endblock %}
{% block body %}
<style>
    #mapid {height:180px;}
</style>

    <div id="mapid">
    </div>

    {% block javascripts %}
   {{ encore_entry_script_tags('leaflet') }}
    {% endblock %}
{% endblock %}
