$primary: darken(#428bca, 20%);
@import "~bootstrap/scss/bootstrap";

body {
<<<<<<< HEAD
      background-color: red !important ;
=======
      background-color: ;
>>>>>>> 281bf76ea5689fe3df691f84e22c899b41fd714a
}
