#mapid {
    height:500px;
}

#search {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*!* The container <div> - needed to position the dropdown content *!*/
/*.dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/
#search {
    display: none;
}


input:checked ~ {
    font-weight: bold;
}

/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*    z-index: 1;*/
/*}*/

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #ddd;}*/

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {display: block;}*/

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/
