easy_admin:
    entities:
          Producer:
            controller: App\Controller\ProducerController
            class: App\Entity\Producer
            form:
                fields:
                    - { property: 'name' }
                    - { property: 'phone' }
                    - { property: 'website' }
                    - { property: 'latitude' }
                    - { property: 'longitude' }
                    - { type: 'group', label: 'Address', icon: 'map-marker-alt', css_class: 'col-sm-4' }
                    - { property: 'address' , type: 'App\Form\AddressType', type_options: {label: false}}

            list:
                fields:
                    - { property: 'name' }

