{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}

<div class="container">
    <h2 class="pt-3 font-weight-bold">Jenny Vellani</h2>
    <h3>Partenaire vins, Champagnes et spiritueux pour les restaurants, cavistes, traiteurs.</h3>

</div>

<div id="infoIntro" class="container d-flex flex-lg-row p-3">
    <img class="p-2 mb-3" src="http://lif.sci-web.net/~atout-vins/public/images/JV.jpg" alt="photo profil Jenny Villani" id="profileImg">
    <p class="lead d-flex align-items-md-center px-3">Originaire du Sud-Ouest, Je suis en Auvergne depuis plus de 20 ans et je n'ai pas perdu l'accent. Apres avoir gerer un restaurant au Lac Chambon (63) pendant 4 ans, j'ai obtenu une Mention Complementaire Sommelerie au Lycee Hotellier de Chamalieres (63).</p>
</div>

<div class="container pb-3">
    <div class="infoH4">
        <img class="grapesIcon" src="http://lif.sci-web.net/~atout-vins/public/images/grapes.png" alt="icon grapes"/>
        <h4>Sommelière, j’épaule les professionnels dans leur sélection</h4>
    </div>
    <ul>
        <li>1500 références de vins, champagnes et spiritueux.</li>
        <li>4 départements : Puy-de-Dôme, Allier, Loire, Cantal.</li>
        <li>175 clients : restaurants 50 %, cavistes 42 %, traiteurs 8 %.</li>
    </ul>

    <div class="infoH4">
        <img class="grapesIcon" src="http://lif.sci-web.net/~atout-vins/public/images/grapes.png" alt="icon grapes"/>
        <h4>Formatrice, je forme leurs salariés pour la commercialisation des vins</h4>
    </div>
    <ul>
        <li>Sous-traitante du centre de formation H&C Conseil, dans le cadre des budgets fournis par les OPCA</li>
        <ul>
            <li>6 formations en intra en 2018,</li>
            <li>5 formations en intra de prévues en 2019 à ce jour.</li>
        </ul>
    </ul>

    <div class="infoH4">
        <img class="grapesIcon" src="http://lif.sci-web.net/~atout-vins/public/images/grapes.png" alt="icon grapes"/>
    <h4>Commerciale, j’épaule les professionnels pour leurs opérations commerciales</h4>
    </div>
    <ul>
        <li>Mise en relation avec mes partenaires pour faciliter leur achats (création d’une association d’entreprise LE CARRE DES PROS)</li>
        <li>Assistance pour mise en valeur produit, définir ses prix de vente...</li>
    </ul>
</div>
{% endblock %}
